/*Image floats to the center of the screen*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:300px;
}

/*Style for the text box*/
h1 {
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}


