@page "/"
@using Opc.Ua;
@using Autabee.OpcScoutApp.Controls;
@inject UserTheme theme

<img src="/images/autabee_@(theme.DarkString)_transparent.svg" alt="Autabee" />
<h1>Autabee Opc Scout</h1>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        theme.ThemeChanged += ThemeChanged; 
    }
    void ThemeChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
