.SelectEnpoint{
    text-align:center;
}

.actions{
    padding :0px;
}
.actions button  {
    float:right;
    height:20px;
}

    td button {
        height: 20px;
    }


input, select {
    display:inline-block;
    width:100%;

    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    margin: 0px 1em 0px 0em;
}

.loginform {
    width:100%;
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
}

    .loginform td:nth-child(odd) {
        text-align:right;
    }

.Endpoints {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}