@using Autabee.Communication.ManagedOpcClient;


@if (Client.Connected)
{
    <div class="Root-Node">
        <span class="node-text">@Client.GetConnectedServer()?.ApplicationName</span>

        <div class="node-actions">
            <button class="mdi mdi-lan-disconnect" @onclick=Disconnect />
        </div>
    </div>
    @if (ScannedNodes != null && ScannedNodes.Count >= 0)
    {
        @foreach (var node in ScannedNodes)
        {
            <ScannedNodeItem ScannedNodeModel="@node" depth="0" Browser="Browser" />
        }
    }
}

else
{
    <icon class="mdi mdi-disconnect" />

    @Client.ApplicationDescription.ApplicationName
}
@code {
    [Parameter]
    public NodeBrowserModel Browser { get; set; }
    [Parameter]
    public OpcUaClientHelperApi Client { get; set; }

    [Parameter]
    public  List<ScannedNodeModel> ScannedNodes { get; set; } = new List<ScannedNodeModel>();

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        InvokeAsync( Initialize);
    }

    public void Initialize()
    {
        if (Client.Connected && ScannedNodes.Count == 0)
        {
            var scan = Client.BrowseRoot();
            var nodes = Client.ReadNodes(scan);
            InvokeAsync(StateHasChanged);
            for (var i = 0; i < scan.Count; i++)
            {
                var result = new ScannedNodeModel(scan[i], Client, nodes[i]);
                ScannedNodes.Add(result);
            }
            InvokeAsync(StateHasChanged);
        }
    }

    public void Disconnect()
    {


        Browser.Disconnect(Client);
    }
}


