

@keyframes caretdown {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}



.Node > td:nth-child(1) {

}
     .node-text {
         text-decoration-style:wavy;
        text-overflow: ellipsis;
        overflow:hidden;
    }

     .node-caret {
        grid-area: node-charet
    }
     .node-img {
        max-height:16px;
    }


.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    grid-area: node-charet
}

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        display: inline-block;
        margin-right: 6px;
        transition: transform ease-in-out 0.5s;
    }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    animation-name: caretdown;
    animation-duration: 0.5s;
    transform: rotate(90deg);
    transition: transform ease-in-out 0.5s;
}

.caret-close::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    animation-name: caretdown;
    animation-duration: 0.5s;
    animation-direction: reverse;
    transition: transform ease-in-out 0.5s;
}

.caret-down:hover::before {
    transform: rotate(70deg);
}

.caret-close:hover::before {
    transform: rotate(20deg);
}

.caret:hover::before {
    transform: rotate(20deg);
}
