@import "app.style.scss";
@import "app.OpcControls.style.scss";

$color-primary: #FFD000;
$color-secendary: #009CCC;
$color-tertiary: #FF0090;

$color-table-data: #f2f2f2;
$color-main-background: #1a1a1a;
$color-navmenu: #0d0d0d;
$color-main-text: white;

html, body {
    color: $color-main-text;
    background-color: $color-main-background;
}

button {
    color: $color-main-text;
}

.SubscriptionView tr:nth-child(even), .data-item:nth-child(even), .Node:nth-child(even), .logitem:nth-child(even), .OpcNodeViewer tr:nth-child(even) {

    background: adjust-color($color-main-background,$lightness: 5);
}
/*.data-item:nth-child(even), .Node:nth-child(even), .logitem:nth-child(even) {
    background: adjust-color($color-main-background,$lightness: 10);
}*/

.mid-ViewPort {
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary
}

.Node:hover {
    background: $color-secendary;
}

.Node-Selected:nth-child(even) {
    color: $color-main-text;
    background: adjust-color($color-secendary,$lightness: -10);
}

.Node-Selected {
    color: $color-main-text;
    background: $color-secendary;
}

.Node-Selected:hover {
    color: $color-main-text;
    background: $color-secendary;
}

.Node > .node-actions > button:hover {
    background-color: adjust-color($color-secendary,$lightness: -10);
}

.ABnavitem > a {
    text-decoration: none;
    color: $color-main-text;
}

button:hover, .Viewportheader > button:hover {
    background-color: $color-secendary;
}

th {
    color: black;
    background: $color-primary;
}


.OpcNodeViewer > table > tr > td > button:hover {
    background-color: adjust-color($color-secendary,$lightness: -10);
}

.Viewport > h3 {
    color: black;
    background-color: $color-primary;
}
.Viewportheader {
    background-color: #FFD000;
    height: 24px;
}

.Viewportheader > button {
    background-color: transparent;
    border: 0px;
    height: 24px;
    font-weight: $bold;
    color: black;
    padding: 0px 10px 0px 10px;
}

.top-row {
    background-color: $color-navmenu;
}

.Theme {
    //background-color: #FF0090;
    background: transparent;
    font-size: 20px;
    margin-left: auto;
    border:none;
    color:white;
}

.node-caret{
    color: white;
}
.logitem > button{
    background-color: transparent;
}
.logitem > button:hover {
    background-color: $color-secendary;
}

button.Danger {
    background-color: $color-error;
    color: white;
    font-weight: $bold;
}

button.Info {
    background-color: $color-info;
    color: white;
    font-weight: $bold;
}

button.Info:hover, button.Danger:hover {
    background-color: adjust-color($color-primary,$lightness: -5);
}


input, select {
    border-color: adjust-color($color-main-background,$lightness: 10);
    background: $color-main-background;
    color:white
}

.Root-Node {
    background: $color-primary;
    color:black;
}

.Root-Node button {
    color: black;
}

dialog {
    color: white;
    background: adjust-color($color-main-background,$lightness: -5);
    border-color: adjust-color($color-main-background,$lightness: 10);
}