$color-error: #FF2200;
$color-warning: #FF6600;
$color-info: #009CCC;

$bold: 700;

.OpcNodeBrowser, .Node, .Root-Node, .SubscriptionView {
    font-size: 12px;
}

.Root-Node{
    padding-left:1em;
}

.Node button {
    font-size: 12px;
    height:100%;
    padding: 1px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
}

.Theme {
    font-size: 20px;
    margin-left: auto;
    border: none;
}
.loginform > tr > td:nth-child(1){
    padding-right: 5px
}
.loginform > tr > td:nth-child(2) > * {
    border-top-width:0px;
}

.loginform > tr:nth-child(1) > td:nth-child(2) > * {
    border-top-width: 2px;
}

.loginform > tr > td > input, .loginform > tr > td > select {
    height: 25px;
    border-radius: 0px;
}


.SubscriptionView input {
    background-color: transparent;
    border: none;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-decoration: underline;
}

.SubscriptionView {
    max-width: 100%;
    font-size: 12px;
}

.SubscriptionView table {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    border-spacing: 0px;
}
.SubscriptionView td {
    padding:0px 5px 0px 5px
}

td.subscription-actions {
    padding: 0px;
}
td.subscription-actions > button {
    padding: 1px;
    margin: 0px;
    display: block;
    height: 100%;
    width: 20px;
} 

.Viewportheader {
    height: 28px;
}

.Viewport h3 {
    height: 28px;
}

.Viewportheader > button {
    border: 0px;
    height: 24px;
    font-weight: $bold;
    padding: 0px 10px 0px 10px;
}

.Viewportheader > button {
    background-color: transparent;
    border: 0px;
    height: 100%;
    font-weight: $bold;
    padding: 0px 10px 0px 10px;
}

.Root-Node {
    font-weight: $bold;
}

dialog {
    position: absolute;
    z-index: 1; /* Sit on top */
    top: 50%;
    overflow: auto; /* Enable scroll if needed */
    text-align: left;
    vertical-align: middle;
}