@using Autabee.Communication.ManagedOpcClient;
@using Serilog.Core;

<div>
    @if (record == null)
    {
        <div class="Empty">no record</div>    
    }
    else
    {

        <div class="NodeWriteHead">
            <div class="NodeWriteHeadActions">
                <button class="mdi mdi-tag-arrow-right MicroButton Info" onclick=@Write/>
            </div
            ><p>@node</p>
        </div>
        <table class="NodeWrite">
            <thead>
                <tr>
                    <th>Node</th>
                    <th>Value</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <WriteItem Value=@record.values />
            </tbody>
        </table>
    }
</div>
    
@code {
    [Parameter]
    public ValueRecord record { get; set; }
    [Parameter]
    public string node { get; set; }
    [Parameter]
    public EventCallback update { get; set; }
    [Parameter]
    public AutabeeManagedOpcClient client { get; set; }

    [Parameter]
    public Logger logger { get; set; }

    public void Write()
    {
        try
        {
            if (record.isArray)
            {
                Dictionary<string, object>[] values = new Dictionary<string, object>[record.values.Count];
                var count = 0;
                foreach (var key in record.values)
                {
                    values[count++] = (Dictionary<string, object>)key.Value;
                }

                client.WriteValue(node, values);
            }
            else
            {
                client.WriteValue(node, record.values);
            }

        }
        catch(Exception e)
        {
            logger?.Error(e, e.Message);
        }
    }
}
